@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body{
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #970043;
    display:flex;
    flex-direction: column;
}

header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffd100;
    text-align: center;
    padding: 1px;
}
.container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    /* height: 100vh; */
}
.latizq{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    
}

.lateralderecho{

    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.texto{
    text-align: center;
    width: 60%;
    background-color: #f2f2f2;
    overflow: auto;
    padding: 5px;
}

.imagen{
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100%;
}

footer{
    text-align: center;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    background-color: #ffd100;
    padding: 1px;
    text-decoration: none;
}

.parrafofinal{
    color: #ffd100;
}

a{
    text-decoration: none;
}

p::first-letter{
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    text-align: left;
}
.imagen1{
    width: 100%;
}

.imagen2{
    width: 100%;
}

.texto:hover{
    background-color:#970043 ;
    color: #f2f2f2;

}

p a{
    color: #ffd100;
}

.gmail a{
    color: black;
}

.parrafofinal a{

    cursor: wait;
    
}

.gmail{
    text-align: center;
}

@media only screen and (max-width: 768px){
    .texto{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
       
    }
    .latizq{
        width: 100%;
    }

    .lateralderecho{
        width: 100%;
    }
}

.imagenmedio{
    width: 100%;
    
}
    
